body {
    font-family: "Fjalla One", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: rgb(159, 201, 226);
    color: black;
  }

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li {
    font-family: "Noticia Text", serif;
    font-weight: 300;
    font-style: normal;
    border: 1.5px solid rgb(52, 3, 3);
    padding: .5em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: space-evenly;
}



footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}