body {
    font-family: "Fjalla One", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: antiquewhite;
    color: black;
  }

.dark-mode {
    background-color: black;
    color: white;
}

  .hero,
h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px;
    border-color: rgb(106, 26, 26);
    padding: 0%;
    font-family: "Noticia Text", serif;
    font-weight: 400;
    font-style: normal;
}
.hero img {
  width:50%;
  height: auto;
  max-width: 450px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

li {
    font-family: "Noticia Text", serif;
    font-weight: 700;
    font-style: normal;
    border: 2px solid blue;
    padding: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

#msg {
    height: 300px;
}

  